    <div class="login-footer">  
        <ul class="list-inline">
            <li><a class="link-muted" href="signup-1.html">Sign up</a></li>
            <li>|</li>
            <li><a class="link-muted" href="#">Privacy Policy</a></li>
            <li>|</li>
            <li><a class="link-muted" href="#">Terms</a></li>
            <li>|</li>
            <li><a class="link-muted" href="#">Cookie Policy</a></li>
            <li>|</li>
            <li>© Elephant 2016</li>
        </ul>
    </div>
    </div>
    <script src="js/vendor.min.js"></script>
    <script src="js/elephant.min.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/bootstrap-growl.min.js"></script>
    <script src="js/notification.js"></script>
    <!-- <script>
        
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../application/js/analytics.js','ga');
        ga('create', 'UA-83990101-1', 'auto');
        ga('send', 'pageview');
    </script> -->
</body>