        <div class="layout-footer">
            <div class="layout-footer-body">
            <small class="version">Version 1</small>
            <small class="copyright">2018 &copy; Item Monitoring By <a href="http://facebook.com/lawlet.aljas">Reymond Aljas</a></small>
            </div>
        </div>
      </div>
      </div>
    </div>
    <script src="../application/js/vendor.min.js"></script>
    <script src="../application/js/elephant.min.js"></script>
    <script src="../application/js/application.min.js"></script>
    <script src="../application/js/ajax.js"></script>
    <script src="../application/js/bootstrap-growl.min.js"></script>
    <script src="../application/js/notification.js"></script>
    <script src="../application/js/demo.min.js"></script>
    <!-- <script>
        
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../application/js/analytics.js','ga');
        ga('create', 'UA-83990101-1', 'auto');
        ga('send', 'pageview');
    </script> -->
</body>