<div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
          <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
              <ul class="sidenav">
                <li class="sidenav-search hidden-md hidden-lg">
                  <form class="sidenav-form" action="http://demo.naksoid.com/">
                    <div class="form-group form-group-sm">
                      <div class="input-with-icon">
                        <input class="form-control" type="text" placeholder="Search…">
                        <span class="icon icon-search input-icon"></span>
                      </div>
                    </div>
                  </form>
                </li>
                <li class="sidenav-heading">Record</li>
                <?php 
                  if($toggle == 'deliveries')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="delivery.html">
                    <span class="sidenav-icon icon icon-truck"></span>
                    <span class="sidenav-label">Deliveries</span>
                  </a>
                </li>
                <?php 
                  if($toggle == 'damage')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="widgets.html">
                    <!-- <span class="badge badge-success">26</span> -->
                    <span class="sidenav-icon icon icon-chain-broken"></span>
                    <span class="sidenav-label">Damage Items</span>
                  </a>
                </li>
                <?php 
                  if($toggle == 'rr')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="page-layouts.html">
                    <span class="sidenav-icon icon icon-backward"></span>
                    <span class="sidenav-label">Return/Replace Items</span>
                  </a>
                </li>
                <li class="sidenav-heading">Data Entry</li>
                <?php 
                  if($toggle == 'users')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="user.html">
                    <span class="sidenav-icon icon icon-user"></span>
                    <span class="sidenav-label">Users</span>
                  </a>
                </li>
                <?php 
                  if($toggle == 'items')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="item.html">
                    <span class="sidenav-icon icon icon-chain"></span>
                    <span class="sidenav-label">Items</span>
                  </a>
                </li>
                <?php 
                  if($toggle == 'categories')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="category.html">
                    <span class="sidenav-icon icon icon-wpforms"></span>
                    <span class="sidenav-label">Categories</span>
                  </a>
                </li>
                <?php 
                  if($toggle == 'suppliers')
                  {
                    echo '<li class="sidenav-item active">';
                  }
                  else
                  {
                    echo '<li class="sidenav-item">';
                  }
                ?>
                  <a href="supplier.html">
                    <span class="sidenav-icon icon icon-users"></span>
                    <span class="sidenav-label">Suppliers</span>
                  </a>
                </li>
                
              </ul>
            </nav>
          </div>
        </div>
      </div>